header{
  text-align: center;
}

.container-button{
  padding: 40px;
  text-align: center;
}

.container-grid {
  display: flex;
  flex-wrap: wrap;
  width: 640px; 
  height: 640px;
  margin: auto;
  border: 1px solid black;
}


.color-section{
  position:relative; 
  display:inline-block;
}

#input-color{
  position:absolute; 
  left:0;
  top:0;
  width:100%;
  opacity:0; 
}