@font-face {
	font-family: 'Press-star-2P';
	src: url('./fonts/PressStart2P-Regular.ttf');
	font-weight: bold;
	font-style: normal;
}


header{
  font-family: 'Press-star-2P';
  text-align: center;
}

button {
	border: none;
	background-color: transparent;

  & span {
    font-family: Press-star-2P;
    cursor: pointer;
  }
}

.container-button{
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 40px;
}

.container-grid {
  display: flex;
  flex-wrap: wrap;
  width: 640px; 
  height: 640px;
  margin: auto;
  border: 1px solid black;
}


.color-section{
  position:relative; 
  display:inline-block;
}

#input-color{
  position:absolute; 
  left:0;
  top:0;
  width:100%;
  opacity:0; 
  cursor: pointer;
}